.navbar-custom {
    background-color: #263238; 
}

.navbar-brand, .nav-link {
    color: #eceff1 !important; 
}

.navbar-brand:hover, .nav-link:hover {
    color: #cfd8dc !important; 
}

.navbar-toggler {
    border-color: #cfd8dc; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml, ..."); 
}
